<div class='row'>
  <div class='col-4'>
    <h1>Form</h1>
    <%= form_with model: TravelNote.new, remote: true do |note| %>
      <%= note.text_area :city, placeholder: 'City' %>
      <%= note.text_area :body, size: "70x5", placeholder: 'Note' %>
      <%= note.submit 'Save', class: 'submit' %> 
    <% end %>
    <%= button_to 'Home', root_path, method: :get %>
  </div>
</div>